body {
    background-color: brown;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
    font-family: 'Times New Roman', Times, serif;
>>>>>>> 30d821c1ddd15b966b26a38ff395ccb8c552a7a5
}
h1 {
    text-align: center;
    color:darkblue;
}
.about {
    text-align: left;
    width: 100%;
    color: yellowgreen;
}
.skills {
    text-align: left;
    width: 100%;
    color: red;
}

.highlighted_projects {
    text-align: left;
    width: 100%;
    color: black;
}

.contact_me {
    text-align: left;
    width: 100%;
    color:blueviolet;

}

